

@media (min-width: 300px) and (max-width: 780px) {
    
    #hero
    {
        background-size: cover;
        height: 100vh;
    }

    #hero::before
    {
        height: 100vh;
    }
        
    header
    {
        /* display: flex;
        justify-content: space-evenly; */
    }
    
    #btt a 
    {
        padding: 0.6rem 1.2rem;
        font-size: 0.7rem;
        font-weight: 550;
    }
    
    .content h2
    {
        font-size: 30px;
        padding-top: 10px;
        font-weight: 900;
    }
    
    .content h4
    {
        font-size: 17px;
        padding-top: 5px;
        font-weight: 250;
    }
    
    .content h5
    {
        font-size: 17px;
        padding: 5px;
        font-weight: 200;
    }
    
    .box
    {
        width: 30%;
        height: 70px;
    }
    
    
    #btt
    {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    form 
    {
        width: 100%;
        height: 160px;
        display: grid;
        padding-top: 10px;
        grid-template-columns: 1fr ;
        grid-template-rows: 1fr 1fr;
        align-items: center;
    }
    
    form input 
    {
        text-align: left;
        margin: auto;
        width: 80%;
        height: 3rem;
    }
    
    form button 
    {
        width: 40%;
        height: 3rem;
        font-size: 15px;
        margin-top: 10px;
        margin: auto;
        text-align: center;
    }

    .feat
    {
        display: block;
        height: fit-content;
        align-items: center;
    }

    .item1
{
    width: 100%;
    height: 200px;
    display: inline-block;
    align-items: center;
    text-align: center;
}

.item2
{
    width: 100%;
    height: 200px;
    text-align: center;
}
    
    .feat h1
{
    font-weight: 900;
    font-size: 25px;
    padding-left: 5px; 
    margin-top: -55px;
}

.feat h5
{
    font-weight: 400;
    font-size: 15px;
    padding: 20px;
    margin-top: -15px;
}


#tem
{
    display: inline-block;
    text-align: center;
    /* align-items: center; */
    /* text-align: center;  */
}

#tem h1
{
    margin-top: -50px;
    line-height: 20px;
    font-size: 20px;
    /* padding-left: 100px; */
}

#tem h5
{
    padding-top: 30px;
    /* padding-left: 100px; */
    font-size: 13px;
}

.tab
{
    margin-top: 5px;
    border-radius: 0.5rem;
}

.tab .don h5
{
    padding-left: 10px;
    font-size: 8px; 
    font-weight: 300;
}

.tab .don h6
{
    padding-left: 10px;
    font-size: 5px; 
    font-weight: 200;
    color: #0050A8;
    margin-top: -17px;
}

#non
{
    display: none;
}

.las h1
{
    font-size: 25px;
    font-weight: 900;
}


.end h5
{
  font-size: 15px;
  font-weight: 300;
  text-align: center;
}

.accordion {
    background-color: #2D2D2D;
    color: white;
    cursor: pointer;
    font-size: 17px;
    width: 90%;
    height: 80px;
    text-align: left;
    margin: auto;
    margin-top: 20px;
    border: none;
    outline: none;
    transition: 0.4s;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .accordion h3
  {
    font-weight: 300;
    padding-left: 20px;
  }

  footer h4 
  {
    font-size: 15px;
  }

)
